#calendar {
  margin-top: 100px;
  .year {
    text-align: left;
    font-size: 5em;
  }
  .more {
    text-align: right;
    span {
      padding: 8px 10px;
      border-radius: 20px;
      font-size: 1.1em;
      background-color: #ddd;
    }
  }
  .list {
    margin-top: 12px;
  }
}