#dashboard_wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  &.noScroll {
    overflow-y: hidden;
  }
  .centered {
    margin: 0 auto;
  }
  #contents {
    margin-top: 100px;
  }
  .gray-btn {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #ddd;
  }
  .popup_0, .popup_1, .popup_2 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
  }
}