#intro-stripe {
  position: relative;
  margin-top: 80px;
  height: 180px;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    &#shape-pattern {
      opacity: 0.1;
      background-size: 148px 180px;
    }
    &.message {
      padding-top: 40px;
      text-align: center;
      font-size: 2.4em;
      line-height: 1.4em;
      opacity: 0.9;
      span {
        font-size: 0.8em;
      }
    }
  }
}
