.postings {
  padding-top: 40px;
  table {
    td {
      &.underline {
        border-bottom: 1px solid #888;
      }
      &:first-child {
        font-size: 3em;
        font-weight: bold;
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  .canvas {
    position: relative;
    margin-top: 24px;
    width: 100%;
    background-color: yellowgreen;
  }
}