.posting-popup {
  #board {
    position: relative;
    background-color: white;
    font-size: 1.1em;
    overflow: hidden;
    #floatTopbar {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100px;
      z-index: 200;
      &::after {
        clear: both;
      }
      > div {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        background-color: rgba(0, 0, 0, 0.75);
        float: left;
        margin: 15px 0 0 15px;
        > img {
          width: 40px;
          height: 40px;
          display: block;
          margin: 15px;
        }
      }
    }

    #topImage {
      position: relative;
      .black {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.67;
      }
    }

    #belowTop {
      position: relative;
      text-align: left;
      #title_1 {
        padding: 48px 0 0 36px;
        font-size: 3em;
      } 
      #title_2 {
        padding: 12px 0 96px 36px;
        font-size: 3em;
      } 
      #likeBtn {
        position: absolute;
        top: 256px;
        font-size: 1.2em;
        img {
          width: 50px;
          height: 50px;
          vertical-align: middle;
        }
      }
      #commentBtn {
        position: absolute;
        top: 312px;
        font-size: 1.2em;
        img {
          width: 50px;
          height: 50px;
          vertical-align: middle;
        }
      }
      #dateAndEditor {
        position: absolute;
        font-size: 1.1em;
        top: 48px;
        right: 48px;
        text-align: right;
        line-height: 1.8em;
      }
    }
    .inputCon {
      text-align: left;
      margin-top: 20px;
      padding: 20px 20px 0 20px;
      textarea {
        width: 100%;
        font-size: 1em;
        margin-bottom: -4px;
        border: 1px solid rgb(154, 203, 155);
        border-bottom: 0;
        height: 80px;
      }
      div {
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: white;
        border: 1px solid rgb(154, 203, 155);
        background-color: rgba(154, 203, 155, 0.9);
        margin: 0;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background-color: rgb(154, 203, 155);
        }
      }
    }
    .comments {
      text-align: left;
      padding: 24px;
      table {
        width: 100%;
        td {
          padding: 24px 0;
          border-bottom: 1px solid #eee;
          .date {
            font-size: 0.9em;
            opacity: 0.67;
            padding-top: 6px;
          }
          span {
            font-size: 1.1em;
            line-height: 1.4em;
          }
          &.mine {
            font-weight: bold;
            color: rgb(154, 203, 155);
          }
        }
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
    }
    .forAdmin {
      height: 44px;
      line-height: 44px;
      margin-bottom: 24px;
      border-top: 1px solid #aaa;
    }
  }
}