.list-panel {
  #panel {
    position: relative;
    background-color: white;
    overflow: hidden;
    .list {
      margin-top: 92px;
      overflow: hidden;
      &::after {
        clear: both;
      }
      .search {
        text-align: left;
        overflow: hidden;
        .inputCon {
          margin-bottom: 56px;
          .categoryOpt {
            display: inline-block;
            border: 1px solid black;
            border-radius: 40px;
            overflow: hidden;
            vertical-align: middle;
            margin-right: 24px;
            > div {
              display: inline-block;
              height: 44px;
              line-height: 44px;
              font-size: 1.2em;
              padding: 0 20px;
              cursor: pointer;
              &.on {
                color: white;
                background-color: black;
              }
            }
          }
          img {
            width: 66px;
            height: 66px;
            vertical-align: middle;
          }
          input {
            height: 66px;
            line-height: 66px;
            outline: none;
            border: 0;
            border-bottom: 1px solid #333;
            width: 520px;
            font-size: 1.4em;
          }
        }
        .hashtags {
          padding-left: 16px;
          span {
            display: inline-block;
            font-size: 1.2em;
            border-radius: 20px;
            padding: 8px 12px;
            background-color: #eee;
            margin: 0 16px 16px 0;
            cursor: pointer;
            &:hover {
              background-color: #ddd;
            }
          }
        }
      }
    }
  }
  #panelTop {
    position: fixed;
    top: 0;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    > div {
      display: inline-block;
      color: #333;
      &.button {
        height: 36px;
        line-height: 36px;
        margin: 14px;
        font-size: 1.2em;
        padding: 0 14px;
        border-radius: 24px;
        &.on {
          color: white;
          background-color: black;
        }
      }
      &:first-child {
        margin-left: 24px;
      }
    }
    > span {
      margin: 0 16px;
    }
    .close {
      position: absolute;
      top: 14px;
      right: 14px;
      width: 36px;
      height: 36px;
    }
  }
}