#topbar {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding-top: 34px;
  background-color: rgba(255, 255, 255, 0.9);
  .centered {
    height: 66px;
    &::after {
      clear: both;
    }
    & > div {
      height: 66px;
      line-height: 66px;
      &#topbar-left {
        float: left;
        font-size: 1.6em;
      }
      &#topbar-right {
        float: right;
        span {
          font-size: 1.2em;
          margin: 0 8px;
        }
      }
      img {
        vertical-align: middle;
        width: 66px;
        height: 66px;
      }
    }
  }
}