#topbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  padding-top: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  .centered {
    height: 52px;
    &::after {
      clear: both;
    }
    & > div {
      height: 48px;
      line-height: 48px;
      &#topbar-left {
        position: relative;
        float: left;
        font-size: 1.2em;
        img.logo {
          
        }
        &:hover {
          .rollover {
            display: block;
          }
        }
        .rollover {
          position: absolute;
          top: 48px;
          left: 0px;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
          display: none;
          > div {
            font-size: 1.1em;
            padding: 0 36px;
            text-align: left;
          }
        }
      }
      &#topbar-right {
        float: right;
        span {
          margin: 0 8px;
        }
      }
      img {
        vertical-align: middle;
        width: 48px;
        height: 48px;
      }
    }
  }
}