#topbar {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  padding-top: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  .centered {
    height: 52px;
    &::after {
      clear: both;
    }
    & > div {
      height: 48px;
      line-height: 48px;
      &#topbar-left {
        float: left;
        font-size: 1.2em;
      }
      &#topbar-right {
        float: right;
        span {
          margin: 0 8px;
        }
      }
      img {
        vertical-align: middle;
        width: 48px;
        height: 48px;
      }
    }
  }
}